@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
body{
    background-color: #F8E0E0;
}

.interface {
    width: 80%; 
    margin: 0 auto; 
    text-align: center;
    background-color: #fff; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

header {
    text-align: center;
    width: 100%;
    background-color: #fff; 
    padding: 20px 0; 
    border-radius: 0; 
    box-shadow: none; 
}

header .menu-desktop a{

    display: inline-block;
    margin: 0 60px;
    color: hotpink;
    text-decoration: none;
    transition: .2s;

}

.menu-desktop nav a:hover{
    transform: scale(1.05)
}
.menu-desktop nav h1{
    font-size: 50px;
    color: hotpink;
    text-align: center;
    font-weight:  300;
}


section.hero-site{
    height: 100vh;
    background-image: url(imagens/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: hotpink;

}

.hero-site .interface{
    align-items: center;
    height: 100%;
}

.hero-site .txt-hero{
    padding: 200px;
}

.hero-site .txt-hero h1{
    font-size: 4em;
    line-height: 70px;
    font-weight:  300;
    padding-bottom: 20px;
}

.hero-site .txt-hero h1 span{
    display: block;
}

.hero-site .txt-hero p{
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 20px;

}

.hero-site button{
    width: 220px;
    height: 60px;
    font-size: 20px;
    background-color: hotpink;
    border: 2px solid #F7F2EC;
    color: #F7F2EC;
    transition: .5s;
}

.hero-site button:hover{
    transform: scale(1.1);
}


.sobre{
    padding: 80px 0;
}
.sobre .txt-sobre h1{
    font-size: 30px;
    color: hotpink;
    
}
.sobre .txt-sobre p{
    padding-top: 10px;
    font-size: 1.2em; 
    color: #555; 
    line-height: 1.8;
    margin-bottom: 20px;
}
.card h1{
    color: hotpink;
    padding-top: 20px;
    font-size: 30px;
}
.card .card-container{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    background-color: #F7F2EC;
    width: 300px;
    height: 250px;
    border-radius: 10px;

}
.card .card-container .img-card img{
    width: 100%;
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;

}

.card .card-container .txt-card{
    padding: 10px;
    font-size: 0.9em; 
    color: #555; 

}

.tabela {
    width: 100%;
    padding: 90px 0; 
    text-align: center; 
}

.tabela .txt-tabela {
    width: 80%; 
    margin: 0 auto; 
    border-collapse: collapse;
}

td, th {
    padding: 20px;
    border: 2px solid hotpink;
    font-size: 1.2em;
    color: #555;
    text-align: center; 
}

.tabela h2 {
    color: hotpink;
    padding-bottom: 30px;
    text-align: center;
}


.causos{
    padding: 10px;
    padding-bottom: 100px;
}
.causos h2{
    color: hotpink;
    padding-bottom: 30px;

}
.causos p{
    font-size: 1.2em; 
    color: #555; 
    margin: 10px 0; 
    padding-left: 20px; 
    position: relative; 

}


.habilidades {
    background-color: #f4f4f4; 
    padding: 20px 0; 
    margin: 30px 0; 
}

.interface h2 {
    color: hotpink;
    font-size: 1.8em; 
    margin-bottom: 20px; 
}

.interface ul {
    list-style-type: none; 
    padding: 0; 

}

.interface li {
    font-size: 1.2em; 
    color: #555; 
    margin: 10px 0; 
    padding-left: 20px; 
    position: relative; 
    display: block;
    text-align: center;
}


#contatos {
    padding: 30px 0; 
    text-align: center; 
}

#contatos h2 {
    font-size: 1.8em;
    color: hotpink;
    margin-bottom: 20px; 
}

#contatos a {
    display: block; 
    font-size: 1.2em;
    color: hotpink;
    text-decoration: none;
    margin: 10px 0; 
    transition: 0.3s; 
}

#contatos a:hover {
    transform: scale(1.05)
}


footer {
    padding: 20px 0;
    text-align: center; 
    margin-top: 20px; 
}

footer p {
    font-size: 1em;
    color: hotpink;
}
