@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
body{
    background-color: #F8E0E0;
}
.interface {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    text-align: center;
    width: 100%;
    background-color: #F2DCDC;
}


header .menu-desktop a{

    display: inline-block;
    margin: 0 60px;
    color: hotpink;
    text-decoration: none;
    transition: .2s;

}

.menu-desktop nav a:hover{
    transform: scale(1.05)
}
.menu-desktop nav h1{
    font-size: 50px;
    color: hotpink;
    text-align: center;
    font-weight:  300;
}

/* Estilo de hero */
section.hero-site{
    height: 100vh;
    background-image: url(imagens/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: hotpink;

}

.hero-site .interface{
    align-items: center;
    height: 100%;
}

.hero-site .txt-hero h1{
    font-size: 4em;
    line-height: 70px;
    font-weight:  300;
    padding-right: 80px;
    padding-top: 200px;
}

.hero-site .txt-hero h1 span{
    display: block;
}

.hero-site .txt-hero p{
    font-size: 15px;
    font-weight: 300;
    margin: 20px 0;
}

.hero-site button{
    width: 220px;
    height: 60px;
    font-size: 20px;
    background-color: hotpink;
    border: 2px solid #F7F2EC;
    color: #F7F2EC;
    transition: .5s;
}

.sobre{
    padding: 80px 0;
}
.sobre .txt-sobre h1{
    font-size: 30px;
    color: hotpink;
    
}
.sobre .txt-sobre p{
    padding-top: 10px;
    color: hotpink;
}

.card .card-container{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    margin: 10px;
    background-color: #F7F2EC;
    width: 300px;
    height: 350px;
    border-radius: 10px;

}
.card .card-container .img-card img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.card .card-container .txt-card{
    font-size: 15px;
    padding: 10px;

}