@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
body{
    background-color: deeppink;
}
.interface {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    width: 100%;
    padding: 10px 0;
}
header .logo img{
    max-width: 40px;
    display: inline-block;
    padding-down: 50px;
}

header .menu-desktop a{
    display: inline-block;
    margin: 0 40px;
    color: pink;
    text-decoration: none;
    display: inline-block;
    transition: .2s;

}

.menu-desktop nav a:hover{
    transform: scale(1.05)
}
.menu-desktop nav h1{
    font-size: 50px;
    color: aliceblue;
    font-weight: 200;
}

/* Estilo de hero */
section.hero-site{
    height: 100vh;
    background-image: url(imagens/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: hotpink;

}

.hero-site .interface{
    align-items: center;
    height: 100%;
}

.hero-site .txt-hero h1{
    font-size: 4em;
    line-height: 70px;
    font-weight:  200;
}

.hero-site .txt-hero h1 span{
    display: block;
}

.hero-site .txt-hero p{
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
}

.hero-site button{
    width: 220px;
    height: 60px;
    font-size: 20px;
    background-color: pink;
    border: 1px solid #fff;
    color: #fff;
    transition: .5s;
}
